<div class="container">
	<div class="title">
		<h1><span>Tentang</span> Kami </h1>
		<p>Membeli produk dari COMIT berarti mempercayakan reputasi Anda ke salah satu studio web terbaik.</p>
	</div>
	<div class="row main-content-row about justify-content-center">
		<div class="col-md-3 main-about center-block">
			<i class="fa fa-sign-in" style="font-size:60px"></i>
			<p>COCOK UNTUK TUJUAN APAPUN</p>
			<a>Perusahaan COMIT melakukan dengan memikirkan kepuasan pelanggan yang kami pastikan bahwa tema akan menjadi jenis situs web yang Anda inginkan.</a>
		</div>
		<div class="col-md-3 main-about center-block">
			<i class="fas fa-desktop" style="font-size:60px"></i>
			<p>100% RESPONSIVE</p>
			<a>Web secara otomatis akan disesuaikan dengan resolusi apa pun tanpa Anda harus khawatir tentang membuat versi untuk masing-masing layar.</a>
		</div>
		<div class="col-md-3 main-about center-block">
			<i class="fas fa-upload" style="font-size:60px"></i>
			<p>GRATIS UPDATE & SUPPORT</p>
			<a>Kami membuat tema dengan pemikiran pelanggan kami, oleh karena itu tim kami bekerja keras untuk memberikan Anda dukungan teknis yang terbaik.</a>
		</div>
	</div>
</div>