<div id="footer" class="footer">
	<div class="container">
		<div class="row footer-content-row justify-content-center">
			<div class="col-md-3 center-block">
				<h2>My Web</h2>
				<p>Sebagai tim yang profesional dalam bidang jasa pembuatan website, LOGIQUE menyediakan solusi terbaik yang teroptimasi untuk bisnis Anda. Selain jasa pembuatan website, LOGIQUE juga menyediakan jasa lainnya seperti jasa konsultasi digital, jasa pembuatan aplikasi, desain web, pengembangan web system, jasa SEO dan percetakan. Kami memberikan rancangan terstruktur secara detil baik untuk pembuatan website perusahaan, aplikasi, maupun pembuatan website atau sistem berskala besar dengan kombinasi desain yang terarah dan arsitektur sistem yang baik. 
				</p>
			</div>
			<div class="col-md-3 contact center-block">
				<h2>KONTAK</h2>
				<p><b>Telepon(WA)</b><br>
				08xxxxxxxx</p>
				<p><b>Email</b><br>
				khamad.ali21@gmail.com</p>
			</div>
			<div class="col-md-3 center-block">
				<ul class="navigation">
					<li class=""><a href="#!about"><span class="glyphicon"></span> Tentang Kami</a></li>
					<li class=""><a href="#!contact"><span class="glyphicon"></span> Portofolio</a></li>
					<li class=""><a href="#!contact"><span class="glyphicon"></span> Layanan</a></li>
					<li class=""><a href="#!contact"><span class="glyphicon"></span> Karir</a></li>
					<li class=""><a href="#!contact"><span class="glyphicon"></span> Kontak Kami</a></li>
				</ul>
			</div>
		</div>
		<p class="text-muted credit">Credit 2018 <a href="#">AAD Team</a></p>
	</div>
</div>

	