<div class="footer">
<div class="container">
	<div class="row show-grid footer-content-row">	
		<div class="col-sm-4 content-left">
			<p class="content-footer-header">KONTAK</p>
			<ul class="contact-footer">
				<li class=""><i class="fa fa-whatsapp"></i> 085640812535 </li>
				<li class=""><i class="fa fa-envelope" aria-hidden="true"></i> comit@gmail.com </li>
			</ul>
			<div id="map-container"><!-- Replace the value of the key parameter with your own API key. --> 
				<div id="map"></div>
					<script>
						function initMap() { 
							var myLatLng = {lat: -7.760894, lng: 110.400075}; 
							var map = new google.maps.Map(document.getElementById('map'), { zoom: 17, center: myLatLng }); 
							var marker = new google.maps.Marker({ position: myLatLng, map: map, title: 'Hello World!' }); 
							
						}
					</script>

				<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-KRHcTaMvie3XfC0PRNIBvBKe4CGX1QY&callback=initMap"></script>	
			</div>
		</div>
		<div class="col-sm-4 content-center">
			<div class="center-content-footer">
				<p class="content-footer-header text-center">NAVIGASI</p>
				<ul class="navigation text-center">
					<li class=""><a href="#!about">Tentang Kami</a></li>
					<li class=""><a href="#!portofolio">Portofolio</a></li>
					<li class=""><a href="#!layanan">Layanan</a></li>
					<li class=""><a href="#!karir">Karir</a></li>
					<li class=""><a href="#!contact">Kontak Kami</a></li>
				</ul>
			</div>
		</div>
			  
		<div class="col-sm-2 content-right">
			<div class="center-content-footer">
				<p class="content-footer-header">FOLLOW KAMI</p>		
				<ul class="social">
					<li class=""><a href="#"><i class="fa fa-facebook-square"></i> Comit</a></li>
					<li class=""><a href="#"><i class="fa fa-instagram"></i> Comit</a></li>
					<li class=""><a href="#"><i class="fa fa-twitter-square"></i> Comit</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="credit"><p>Credit 2018 <a href="#">Comit Team</a></p></div>
</div>
</div>

	