<div id="footer">
<div class="container">
	<div class="row show-grid footer-content-row">	
		<div class="col-sm-4 content-left">
			<p class="content-footer-header">KONTAK</p>
			<ul class="contact-footer">
				<li class=""><a href="#"><i class="fa fa-whatsapp"></i> 0877xxx </a></li>
				<li class=""><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i> commit@gmail.com </a></li>
			</ul>
		</div>
		<div class="col-sm-4 content-center">
			<div class="center-content-footer">
				<p class="content-footer-header text-center">NAVIGASI</p>
				<ul class="navigation text-center">
					<li class=""><a href="#!about">Tentang Kami</a></li>
					<li class=""><a href="#!contact">Portofolio</a></li>
					<li class=""><a href="#!contact">Layanan</a></li>
					<li class=""><a href="#!contact">Karir</a></li>
					<li class=""><a href="#!contact">Kontak Kami</a></li>
				</ul>
			</div>
		</div>
			  
		<div class="col-sm-2 content-right">
			<div class="center-content-footer">
				<p class="content-footer-header">FOLLOW KAMI</p>		
				<ul class="social">
					<li class=""><a href="#"><i class="fa fa-facebook-square"></i> Facebook</a></li>
					<li class=""><a href="#"><i class="fa fa-instagram"></i> Instagram</a></li>
					<li class=""><a href="#"><i class="fa fa-twitter-square"></i> Twitter</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<p class="text-muted credit">Credit 2018 <a href="#">Commit Team</a></p>
</div>
</div>

	