<div class="logo">
<h1>COMMIT</h1>
</div>
<div class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html"><i class="fa fa-home" aria-hidden="true"></i></a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class=""><a href="#!about"><span class="glyphicon"></span> Tentang Kami</a></li>
          <li class=""><a href="#!portofolio"><span class="glyphicon"></span> Portofolio</a></li>
          <li class=""><a href="#!layanan"><span class="glyphicon"></span> Layanan</a></li>
          <li class=""><a href="#!karir"><span class="glyphicon"></span> Karir</a></li>
          <li class=""><a href="#!contact"><span class="glyphicon"></span> Kontak Kami</a></li>
        </ul>
      </div>
	  <!--/.nav-collapse -->
    </div>
</div>