<div class="container main-content-wrapper">
  <div class="row main-content-row justify-content-center">
    <div class="col-md-3 main-content center-block">
		<img src="assets/img/web.png">
		<p>One of three columns</p>
    </div>
    <div class="col-md-3 main-content center-block">
		<img src="assets/img/mobile-app.png">
		<p>One of three columns</p>
    </div>
    <div class="col-md-3 main-content center-block">
		<img src="assets/img/seo.png">
		<p>One of three columns</p>
    </div>
  </div>
</div>