<div class="container">
	<div class="title">
		<h1>Jasa Pembuatan Website Berkualitas</h1>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
	</div>
	<div class="row main-content-row justify-content-center">
		<div class="col-md-3 main-content center-block">
			<img src="assets/img/web.png">
			<p>Website</p>
			<a class="btn btn-primary" href="layanan.html">
				<i class="fa fa-angle-down" style="font-size:30px"></i>
			</a>
		</div>
		<div class="col-md-3 main-content center-block">
			<img src="assets/img/mobile-app.png">
			<p>Aplikasi</p>
			<button class="btn btn-primary" href="layanan.html">
				<i class="fa fa-angle-down" style="font-size:30px"></i>
			</button>
		</div>
		<div class="col-md-3 main-content center-block">
			<img src="assets/img/seo.png">
			<p>SEO</p>
			<button class="btn btn-primary" href="layanan.html">
				<i class="fa fa-angle-down" style="font-size:30px"></i>
			</button>
		</div>
	</div>
</div>

