<div class="container">
	<div class="title">
		<h1>Jasa Pembuatan Website Berkualitas</h1>
		<p>COMIT(Consultan dan Management IT) jasa pembuatan web development dan website design tebaik dan berkualitas, dengan pengalaman bertaraf Internasional.</p>
		<p>Dimanapun Anda, Kami bisa membantu website perusahaan, bisnis, organisasi dan kebutuhan pribadi Anda.</p>
	</div>
	<div class="row main-content-row justify-content-center">
		<div class="col-md-3 main-content center-block">
			<img src="assets/img/web.png">
			<p>Website</p>
			<a class="btn btn-primary" href="layanan.html">
				<i class="fa fa-angle-down" style="font-size:30px"></i>
			</a>
		</div>
		<div class="col-md-3 main-content center-block">
			<img src="assets/img/mobile-app.png">
			<p>Aplikasi</p>
			<button class="btn btn-primary" href="layanan.html">
				<i class="fa fa-angle-down" style="font-size:30px"></i>
			</button>
		</div>
		<div class="col-md-3 main-content center-block">
			<img src="assets/img/seo.png">
			<p>SEO</p>
			<button class="btn btn-primary" href="layanan.html">
				<i class="fa fa-angle-down" style="font-size:30px"></i>
			</button>
		</div>
	</div>
	
	 <div id="googleMap" style="width:100%;height:380px;"></div>
</div>



